
#root{
  display: flex;
  justify-content: center;
  position: relative;
}

.App {
  width: 100%;
  display: grid;
  grid-template-columns: max-content 1fr;
}

.post{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 40px 0 40px;
  border: 2px solid teal;
  padding: 20px;

}


